language: python
python:
  - "2.5"
  - "2.6"
  - "2.7"
before_script: "sudo apt-get install python-dev libevent-dev"
install: pip install . --use-mirrors
script: ./django_socketio/example_project/manage.py test
