
* {font-size:16px; font-family:sans-serif;}
h1 a {font-size:24px;}
body {margin:20px 0 0 0;}
#main {padding-bottom:100px;}

form {position:fixed; bottom:0; background:#ccc; width:100%;
      border-top:1px solid #999; display:none;}
input {border:1px solid #999; padding:10px; border-radius:5px;}
#message, #name {width:600px; margin:20px 0 20px 20px;}
#submit, #leave {cursor:pointer; margin-left:10px; padding:10px 30px;}

ul {margin:0; padding:0; list-style-type:none;}
h1, p, li {margin:10px 20px;}

#users {position:fixed; right:0; top:0; bottom:0; width:200px;
        background:#eee; display:none; overflow:hidden;
        border-left:1px solid #ccc;}

.room {float:left;}
form label {margin-left:10px;}
.system {font-weight:bold; color:#f00;}
