body {margin:20px 0 0 0;}
form {position:absolute; bottom:0; background:#ccc; width:100%;
      border-top:1px solid #999; display:none;}
input {border:1px solid #999; padding:10px; border-radius:5px;}
#message {width:600px; margin:20px 5px 20px 20px;}
#submit {cursor:pointer; width:150px;}
p {margin:10px 20px;}
p, input {font-size:16px; font-family:sans-serif;}
